@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Roboto");
/** This section defines the various fonts and colors */
/**
 *  This section contains the various SCSS variables we are going to use.
 *  Note that this section will use the font and color variables we have defined
 *  in the previous section.
 */
/* General CSS */
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Roboto");
/* line 9, core/static/css/base/_base.scss */
html {
  position: relative;
  min-height: 100%; }

/* line 14, core/static/css/base/_base.scss */
body {
  font-family: roboto, helvetica, arial, sans-serif; }

/* Header-Related CSS */
/* line 19, core/static/css/base/_base.scss */
#page-header {
  position: sticky;
  top: 0;
  z-index: 1071;
  min-height: 70px;
  background-color: #3a4958 !important; }
  /* line 27, core/static/css/base/_base.scss */
  #page-header .nav-link {
    font-size: 1rem;
    color: #d4c99e !important; }
  /* line 32, core/static/css/base/_base.scss */
  #page-header .nav-link:hover {
    color: #337ab7 !important; }
  /* line 37, core/static/css/base/_base.scss */
  #page-header .navbar-brand {
    color: #fdfdfd !important; }
  /* line 41, core/static/css/base/_base.scss */
  #page-header .navbar-brand:hover {
    color: #337ab7 !important; }
  /* line 46, core/static/css/base/_base.scss */
  #page-header .dropdown-menu {
    min-width: 0; }
  /* line 50, core/static/css/base/_base.scss */
  #page-header .dropdown-item {
    color: #337ab7 !important; }
  /* line 54, core/static/css/base/_base.scss */
  #page-header .dropdown-item:hover {
    color: #fdfdfd !important;
    background-color: #3a4958 !important;
    opacity: 0.15; }
  /* line 61, core/static/css/base/_base.scss */
  #page-header .btn-auth {
    color: #d4c99e !important;
    border-color: #d4c99e !important; }
  /* line 66, core/static/css/base/_base.scss */
  #page-header .btn-auth:hover {
    color: #337ab7 !important;
    background-color: #d4c99e !important;
    border-color: #d4c99e !important; }

/* line 73, core/static/css/base/_base.scss */
#site-title {
  font-family: oswald, helvetica, arial, sans-serif;
  font-size: 1.75rem;
  font-weight: 200 !important; }

/* Footer-Related CSS */
/* line 80, core/static/css/base/_base.scss */
#page-footer {
  height: 90px;
  color: #fdfdfd !important;
  background-color: #86898c !important; }
  /* line 86, core/static/css/base/_base.scss */
  #page-footer .footer-link {
    font-size: 1rem;
    color: #d4c99e !important;
    text-decoration: none; }
  /* line 92, core/static/css/base/_base.scss */
  #page-footer .footer-link:hover {
    color: #337ab7 !important; }

/* line 4, core/static/css/components/_fade.scss */
.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both; }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    transform: none; } }

/* line 22, core/static/css/components/_fade.scss */
.fadeIn {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s; }

/** This section defines the various fonts and colors */
/**
 *  This section contains the various SCSS variables we are going to use.
 *  Note that this section will use the font and color variables we have defined
 *  in the previous section.
 */
/* Main Layout-Related CSS */
/* line 10, core/static/css/pages/catalog.scss */
#page-content {
  min-height: calc(100vh - 160px - 1rem); }
  /* line 6, core/static/css/components/_jumbotron.scss */
  #page-content .jumbotron {
    color: #fdfdfd !important;
    background-color: #4c6085 !important; }
  /* line 11, core/static/css/components/_jumbotron.scss */
  #page-content .btn-jumbotron {
    color: #d4c99e !important;
    border-color: #d4c99e !important; }
  /* line 16, core/static/css/components/_jumbotron.scss */
  #page-content .btn-jumbotron:hover {
    color: #fdfdfd !important;
    background-color: #d4c99e !important;
    border-color: #d4c99e !important; }
  /* line 16, core/static/css/pages/catalog.scss */
  #page-content .accordion {
    width: 100%;
    padding: 18px;
    font-size: 15px;
    color: #444;
    text-align: left;
    background-color: #eee;
    border: none;
    transition: 0.4s; }
  /* line 27, core/static/css/pages/catalog.scss */
  #page-content .active, #page-content .accordion:hover {
    background-color: #ccc; }
  /* line 31, core/static/css/pages/catalog.scss */
  #page-content .panel {
    display: none;
    padding: 0 18px;
    overflow: hidden;
    background-color: white; }
  /* line 38, core/static/css/pages/catalog.scss */
  #page-content .rotate {
    transition: all .3s linear; }
  /* line 42, core/static/css/pages/catalog.scss */
  #page-content .rotate.down {
    transform: rotate(90deg); }
  /* line 46, core/static/css/pages/catalog.scss */
  #page-content .right-icon-holder {
    position: relative; }
  /* line 50, core/static/css/pages/catalog.scss */
  #page-content .right-icon-holder .fa {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -12px;
    /* Half of line height to keep left middle postion of container */
    line-height: 24px; }
  /* line 58, core/static/css/pages/catalog.scss */
  #page-content .card-horizontal {
    display: flex;
    flex: 1 1 auto; }
