@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Roboto");
/** This section defines the various fonts and colors */
/**
 *  This section contains the various SCSS variables we are going to use.
 *  Note that this section will use the font and color variables we have defined
 *  in the previous section.
 */
/* General CSS */
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Roboto");
/* line 9, core/static/css/base/_base.scss */
html {
  position: relative;
  min-height: 100%; }

/* line 14, core/static/css/base/_base.scss */
body {
  font-family: roboto, helvetica, arial, sans-serif; }

/* Header-Related CSS */
/* line 19, core/static/css/base/_base.scss */
#page-header {
  position: sticky;
  top: 0;
  z-index: 1071;
  min-height: 70px;
  background-color: #3a4958 !important; }
  /* line 27, core/static/css/base/_base.scss */
  #page-header .nav-link {
    font-size: 1rem;
    color: #d4c99e !important; }
  /* line 32, core/static/css/base/_base.scss */
  #page-header .nav-link:hover {
    color: #337ab7 !important; }
  /* line 37, core/static/css/base/_base.scss */
  #page-header .navbar-brand {
    color: #fdfdfd !important; }
  /* line 41, core/static/css/base/_base.scss */
  #page-header .navbar-brand:hover {
    color: #337ab7 !important; }
  /* line 46, core/static/css/base/_base.scss */
  #page-header .dropdown-menu {
    min-width: 0; }
  /* line 50, core/static/css/base/_base.scss */
  #page-header .dropdown-item {
    color: #337ab7 !important; }
  /* line 54, core/static/css/base/_base.scss */
  #page-header .dropdown-item:hover {
    color: #fdfdfd !important;
    background-color: #3a4958 !important;
    opacity: 0.15; }
  /* line 61, core/static/css/base/_base.scss */
  #page-header .btn-auth {
    color: #d4c99e !important;
    border-color: #d4c99e !important; }
  /* line 66, core/static/css/base/_base.scss */
  #page-header .btn-auth:hover {
    color: #337ab7 !important;
    background-color: #d4c99e !important;
    border-color: #d4c99e !important; }

/* line 73, core/static/css/base/_base.scss */
#site-title {
  font-family: oswald, helvetica, arial, sans-serif;
  font-size: 1.75rem;
  font-weight: 200 !important; }

/* Footer-Related CSS */
/* line 80, core/static/css/base/_base.scss */
#page-footer {
  height: 90px;
  color: #fdfdfd !important;
  background-color: #86898c !important; }
  /* line 86, core/static/css/base/_base.scss */
  #page-footer .footer-link {
    font-size: 1rem;
    color: #d4c99e !important;
    text-decoration: none; }
  /* line 92, core/static/css/base/_base.scss */
  #page-footer .footer-link:hover {
    color: #337ab7 !important; }

/* line 4, core/static/css/components/_overlay.scss */
.container {
  width: 100%; }

/* line 8, core/static/css/components/_overlay.scss */
.progressbar {
  counter-reset: step; }
  /* line 11, core/static/css/components/_overlay.scss */
  .progressbar li {
    position: relative;
    float: left;
    width: 33%;
    text-align: center;
    list-style-type: none; }
  /* line 19, core/static/css/components/_overlay.scss */
  .progressbar li::before {
    display: block;
    width: 35px;
    height: 35px;
    margin: auto auto auto auto;
    line-height: 30px;
    text-align: center;
    content: counter(step);
    counter-increment: step;
    background-color: #bdbdbd;
    border: 1px solid #bdbdbd;
    border-radius: 50%; }
  /* line 33, core/static/css/components/_overlay.scss */
  .progressbar li::after {
    position: absolute;
    top: 20px;
    left: -50%;
    z-index: -1;
    width: 100%;
    height: 10px;
    content: "";
    background-color: #30343f; }
  /* line 44, core/static/css/components/_overlay.scss */
  .progressbar li:first-child::after {
    content: none; }

/* line 49, core/static/css/components/_overlay.scss */
.active {
  color: #ff8c5f; }

/* line 53, core/static/css/components/_overlay.scss */
.active::before {
  border-color: #bdbdbd; }

/* line 57, core/static/css/components/_overlay.scss */
.active + li::after {
  background-color: #ff8c5f; }

/** This section defines the various fonts and colors */
/**
 *  This section contains the various SCSS variables we are going to use.
 *  Note that this section will use the font and color variables we have defined
 *  in the previous section.
 */
/* Tutorial Layout-Related CSS */
/* line 9, core/static/css/pages/lesson.scss */
#page-content {
  height: calc(100vh - 160px);
  overflow: hidden; }
  /* line 6, core/static/css/components/_jumbotron.scss */
  #page-content .jumbotron {
    color: #fdfdfd !important;
    background-color: #4c6085 !important; }
  /* line 11, core/static/css/components/_jumbotron.scss */
  #page-content .btn-jumbotron {
    color: #d4c99e !important;
    border-color: #d4c99e !important; }
  /* line 16, core/static/css/components/_jumbotron.scss */
  #page-content .btn-jumbotron:hover {
    color: #fdfdfd !important;
    background-color: #d4c99e !important;
    border-color: #d4c99e !important; }

/* line 17, core/static/css/pages/lesson.scss */
#tutorialCol {
  height: calc(100vh - 160px); }

/* line 21, core/static/css/pages/lesson.scss */
#tutorialContent {
  overflow-x: hidden;
  overflow-y: auto; }
  /* line 25, core/static/css/pages/lesson.scss */
  #tutorialContent a {
    text-decoration: none; }
  /* line 29, core/static/css/pages/lesson.scss */
  #tutorialContent .inlineCode {
    font-family: "Courier New", Courier, monospace; }

/* line 34, core/static/css/pages/lesson.scss */
#editor {
  border-right: 1px solid #4C6085 !important; }

/* line 38, core/static/css/pages/lesson.scss */
.navbar-toggle {
  float: left !important;
  margin-left: 15px; }

/* line 43, core/static/css/pages/lesson.scss */
.modal-nav-content {
  width: 100%;
  height: auto; }

/* line 48, core/static/css/pages/lesson.scss */
.modal-nav-body {
  margin-top: 100px; }
  /* line 51, core/static/css/pages/lesson.scss */
  .modal-nav-body ul {
    width: 100%;
    color: #fff;
    list-style-type: none; }
  /* line 57, core/static/css/pages/lesson.scss */
  .modal-nav-body ul li {
    padding: 8px;
    font-size: 130%;
    text-align: center;
    text-transform: uppercase; }

/* line 65, core/static/css/pages/lesson.scss */
.btn-dark {
  background-color: #30343f; }

/* line 69, core/static/css/pages/lesson.scss */
.btn-dark:hover {
  background-color: #30343f;
  border: 1px solid #30343f; }

/* line 74, core/static/css/pages/lesson.scss */
#activity-cards {
  background-color: #4c6085 !important;
  color: #fdfdfd !important; }

/* line 79, core/static/css/pages/lesson.scss */
#progress-modal {
  background-color: rgba(48, 52, 63, 0.8); }

/* line 83, core/static/css/pages/lesson.scss */
#are-you-sure {
  color: #3a4958 !important; }

/* line 87, core/static/css/pages/lesson.scss */
#dont {
  background-color: #3a4958 !important;
  color: #fff; }

/* line 92, core/static/css/pages/lesson.scss */
#prev {
  margin: 2px 2px 2px 2px; }

/* line 96, core/static/css/pages/lesson.scss */
#next {
  margin: 2px 2px 2px 2px; }

/* line 100, core/static/css/pages/lesson.scss */
#results {
  margin: 5px 5px 5px 5px; }

/* line 104, core/static/css/pages/lesson.scss */
#resultCard {
  margin: 5px 5px 5px 5px; }

/* line 108, core/static/css/pages/lesson.scss */
#explainCard {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 5px 5px 5px 5px; }

/* line 115, core/static/css/pages/lesson.scss */
#explainBox {
  display: block;
  width: 90%;
  resize: none;
  margin-right: auto;
  margin-left: auto; }

/* line 123, core/static/css/pages/lesson.scss */
#select {
  margin-left: 12px; }

/* line 127, core/static/css/pages/lesson.scss */
#radio {
  margin-left: 36px; }

/* line 132, core/static/css/pages/lesson.scss */
.page-section-heading {
  color: #222529;
  border-bottom: 5px solid #4c6085 !important; }

/* line 137, core/static/css/pages/lesson.scss */
.ace-chaos .ace_gutter-cell.ace_correct {
  padding-left: 0;
  color: #000;
  background: #5cb85c;
  border-left: none; }

/* line 144, core/static/css/pages/lesson.scss */
.tool-back {
  background: #3a4958 !important; }

/* line 148, core/static/css/pages/lesson.scss */
.ace-chaos .ace_keyword.ace_operator {
  color: #ff8c5f !important; }

/* line 152, core/static/css/pages/lesson.scss */
.ace-chaos .ace_keyword {
  color: #337ab7; }

/* line 156, core/static/css/pages/lesson.scss */
.ace-chaos .ace_gutter {
  color: #fdfdfd !important; }

/* ACE Editor-Related CSS */
/* line 161, core/static/css/pages/lesson.scss */
.ace_folding-enabled > .ace_gutter-cell {
  padding-right: 10px;
  padding-left: 30px; }

/* line 166, core/static/css/pages/lesson.scss */
.tooltip > .tooltip-inner {
  color: #000;
  background-color: #d3d3d3; }

/* line 172, core/static/css/pages/lesson.scss */
.ace-solarized-light .ace_gutter {
  background: #3a4958 !important;
  color: #fdfdfd !important; }

/* line 177, core/static/css/pages/lesson.scss */
.ace-solarized-light .ace_print-margin {
  width: 1px;
  background: #e8e8e8; }

/* line 182, core/static/css/pages/lesson.scss */
.ace-solarized-light {
  background-color: #E0E0E0;
  color: #3a4958 !important; }

/* line 187, core/static/css/pages/lesson.scss */
.ace-solarized-light .ace_cursor {
  color: #337ab7 !important; }

/* line 191, core/static/css/pages/lesson.scss */
.ace-solarized-light .ace_marker-layer .ace_selection {
  background: rgba(7, 54, 67, 0.09); }

/* line 195, core/static/css/pages/lesson.scss */
.ace-solarized-light.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #FDF6E3; }

/* line 199, core/static/css/pages/lesson.scss */
.ace-solarized-light .ace_marker-layer .ace_step {
  background: yellow; }

/* line 203, core/static/css/pages/lesson.scss */
.ace-solarized-light .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid rgba(147, 161, 161, 0.5); }

/* line 208, core/static/css/pages/lesson.scss */
.ace-solarized-light .ace_marker-layer .ace_active-line {
  background: #CAE2EE; }

/* line 212, core/static/css/pages/lesson.scss */
.ace-solarized-light .ace_gutter-active-line {
  background-color: rgba(202, 222, 238, 0.5); }

/* line 216, core/static/css/pages/lesson.scss */
.ace-solarized-light .ace_marker-layer .ace_selected-word {
  border: 1px solid #337ab7 !important; }

/* line 220, core/static/css/pages/lesson.scss */
.ace-solarized-light .ace_invisible {
  color: rgba(147, 161, 161, 0.5); }

/* line 224, core/static/css/pages/lesson.scss */
.ace-solarized-light .ace_keyword,
.ace-solarized-light .ace_meta,
.ace-solarized-light .ace_support.ace_class,
.ace-solarized-light .ace_support.ace_type {
  color: #9F41A4; }

/* line 231, core/static/css/pages/lesson.scss */
.ace-solarized-light .ace_constant.ace_character,
.ace-solarized-light .ace_constant.ace_other {
  color: #CB4B16; }

/* line 236, core/static/css/pages/lesson.scss */
.ace-solarized-light .ace_constant.ace_language {
  color: #916A22; }

/* line 240, core/static/css/pages/lesson.scss */
.ace-solarized-light .ace_constant.ace_numeric {
  color: #916A22; }

/* line 244, core/static/css/pages/lesson.scss */
.ace-solarized-light .ace_fold {
  background-color: #268BD2;
  border-color: #586E75; }

/* line 249, core/static/css/pages/lesson.scss */
.ace-solarized-light .ace_entity.ace_name.ace_function,
.ace-solarized-light .ace_entity.ace_name.ace_tag,
.ace-solarized-light .ace_support.ace_function,
.ace-solarized-light .ace_variable,
.ace-solarized-light .ace_variable.ace_language {
  color: #268BD2; }

/* line 257, core/static/css/pages/lesson.scss */
.ace-solarized-light .ace_storage {
  color: #073642; }

/* line 261, core/static/css/pages/lesson.scss */
.ace-solarized-light .ace_string {
  color: #649E59; }

/* line 265, core/static/css/pages/lesson.scss */
.ace-solarized-light .ace_string.ace_regexp {
  color: #337ab7 !important; }

/* line 269, core/static/css/pages/lesson.scss */
.ace-solarized-light .ace_comment,
.ace-solarized-light .ace_entity.ace_other.ace_attribute-name {
  color: #8A8A8A; }
