@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Roboto");
/** This section defines the various fonts and colors */
/**
 *  This section contains the various SCSS variables we are going to use.
 *  Note that this section will use the font and color variables we have defined
 *  in the previous section.
 */
/* General CSS */
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Roboto");
/* line 9, core/static/css/base/_base.scss */
html {
  position: relative;
  min-height: 100%; }

/* line 14, core/static/css/base/_base.scss */
body {
  font-family: roboto, helvetica, arial, sans-serif; }

/* Header-Related CSS */
/* line 19, core/static/css/base/_base.scss */
#page-header {
  position: sticky;
  top: 0;
  z-index: 1071;
  min-height: 70px;
  background-color: #3a4958 !important; }
  /* line 27, core/static/css/base/_base.scss */
  #page-header .nav-link {
    font-size: 1rem;
    color: #d4c99e !important; }
  /* line 32, core/static/css/base/_base.scss */
  #page-header .nav-link:hover {
    color: #337ab7 !important; }
  /* line 37, core/static/css/base/_base.scss */
  #page-header .navbar-brand {
    color: #fdfdfd !important; }
  /* line 41, core/static/css/base/_base.scss */
  #page-header .navbar-brand:hover {
    color: #337ab7 !important; }
  /* line 46, core/static/css/base/_base.scss */
  #page-header .dropdown-menu {
    min-width: 0; }
  /* line 50, core/static/css/base/_base.scss */
  #page-header .dropdown-item {
    color: #337ab7 !important; }
  /* line 54, core/static/css/base/_base.scss */
  #page-header .dropdown-item:hover {
    color: #fdfdfd !important;
    background-color: #3a4958 !important;
    opacity: 0.15; }
  /* line 61, core/static/css/base/_base.scss */
  #page-header .btn-auth {
    color: #d4c99e !important;
    border-color: #d4c99e !important; }
  /* line 66, core/static/css/base/_base.scss */
  #page-header .btn-auth:hover {
    color: #337ab7 !important;
    background-color: #d4c99e !important;
    border-color: #d4c99e !important; }

/* line 73, core/static/css/base/_base.scss */
#site-title {
  font-family: oswald, helvetica, arial, sans-serif;
  font-size: 1.75rem;
  font-weight: 200 !important; }

/* Footer-Related CSS */
/* line 80, core/static/css/base/_base.scss */
#page-footer {
  height: 90px;
  color: #fdfdfd !important;
  background-color: #86898c !important; }
  /* line 86, core/static/css/base/_base.scss */
  #page-footer .footer-link {
    font-size: 1rem;
    color: #d4c99e !important;
    text-decoration: none; }
  /* line 92, core/static/css/base/_base.scss */
  #page-footer .footer-link:hover {
    color: #337ab7 !important; }

/* line 4, core/static/css/components/_overlay.scss */
.overlay {
  height: 90%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(48, 52, 63, 0.9);
  overflow-x: hidden;
  transition: 0.5s; }

/* line 16, core/static/css/components/_overlay.scss */
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px; }

/* line 24, core/static/css/components/_overlay.scss */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #ffffff;
  display: block; }

/* line 32, core/static/css/components/_overlay.scss */
.overlay a:hover, .overlay a:focus {
  color: #ff8c5f; }

/* line 36, core/static/css/components/_overlay.scss */
.overlay .closebtn {
  position: absolute;
  top: 50px;
  right: 45px;
  font-size: 60px; }

/** This section defines the various fonts and colors */
/**
 *  This section contains the various SCSS variables we are going to use.
 *  Note that this section will use the font and color variables we have defined
 *  in the previous section.
 */
/* line 5, core/static/css/components/_ace.scss */
.ace-chaos .ace_gutter-cell.ace_correct {
  padding-left: 0;
  color: #000;
  background: #5cb85c;
  border-left: none; }

/* line 12, core/static/css/components/_ace.scss */
.ace-chaos .ace_keyword.ace_operator {
  color: #ff8c5f !important; }

/* line 16, core/static/css/components/_ace.scss */
.ace-chaos .ace_keyword {
  color: #337ab7; }

/* line 20, core/static/css/components/_ace.scss */
.ace-chaos .ace_gutter {
  color: #fdfdfd !important; }

/* ACE Editor-Related CSS */
/* line 25, core/static/css/components/_ace.scss */
.ace_folding-enabled > .ace_gutter-cell {
  padding-right: 10px;
  padding-left: 30px; }

/* line 30, core/static/css/components/_ace.scss */
.tooltip > .tooltip-inner {
  color: #000;
  background-color: #d3d3d3; }

/* line 35, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_gutter-cell.ace_correct {
  padding-left: 0;
  color: #000;
  background: #5cb85c;
  border-left: none; }

/* line 42, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_gutter {
  color: #337ab7 !important;
  background: #e0e0e0; }

/* line 47, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_print-margin {
  width: 1px;
  background: #e8e8e8; }

/* line 52, core/static/css/components/_ace.scss */
.ace-solarized-light {
  color: #3a4958 !important;
  background-color: #fdfdfd !important; }

/* line 57, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_cursor {
  color: #337ab7 !important; }

/* line 61, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_marker-layer .ace_selection {
  background: rgba(7, 54, 67, 0.09); }

/* line 65, core/static/css/components/_ace.scss */
.ace-solarized-light.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0 #fdf6e3; }

/* line 69, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_marker-layer .ace_step {
  background: yellow; }

/* line 73, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid rgba(147, 161, 161, 0.5); }

/* line 78, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_marker-layer .ace_active-line {
  background: #e0e0e0; }

/* line 82, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_gutter-active-line {
  background-color: #a0a0a0; }

/* line 86, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_marker-layer .ace_selected-word {
  border: 1px solid #337ab7 !important; }

/* line 90, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_invisible {
  color: rgba(147, 161, 161, 0.5); }

/* line 94, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_keyword,
.ace-solarized-light .ace_meta,
.ace-solarized-light .ace_support.ace_class,
.ace-solarized-light .ace_support.ace_type {
  color: #9f41a4; }

/* line 101, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_constant.ace_character,
.ace-solarized-light .ace_constant.ace_other {
  color: #cb4b16; }

/* line 106, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_constant.ace_language {
  color: #916a22; }

/* line 110, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_constant.ace_numeric {
  color: #916a22; }

/* line 114, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_fold {
  background-color: #268bd2;
  border-color: #586e75; }

/* line 119, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_entity.ace_name.ace_function,
.ace-solarized-light .ace_entity.ace_name.ace_tag,
.ace-solarized-light .ace_support.ace_function,
.ace-solarized-light .ace_variable,
.ace-solarized-light .ace_variable.ace_language {
  color: #268bd2; }

/* line 127, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_storage {
  color: #073642; }

/* line 131, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_string {
  color: #649e59; }

/* line 135, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_string.ace_regexp {
  color: #337ab7 !important; }

/* line 139, core/static/css/components/_ace.scss */
.ace-solarized-light .ace_comment,
.ace-solarized-light .ace_entity.ace_other.ace_attribute-name {
  color: #8a8a8a; }

/** This section defines the various fonts and colors */
/**
 *  This section contains the various SCSS variables we are going to use.
 *  Note that this section will use the font and color variables we have defined
 *  in the previous section.
 */
/* line 7, core/static/css/components/_smiley.scss */
form#smileys input[type="radio"] {
  -webkit-appearance: none;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
  transition: border .2s ease;
  filter: grayscale(100%);
  margin: 5px 5px 5px;
  transition: all .2s ease; }
  /* line 18, core/static/css/components/_smiley.scss */
  form#smileys input[type="radio"]:hover, form#smileys input[type="radio"]:checked {
    filter: grayscale(0); }
  /* line 22, core/static/css/components/_smiley.scss */
  form#smileys input[type="radio"]:focus {
    outline: 0; }
  /* line 26, core/static/css/components/_smiley.scss */
  form#smileys input.excited[type="radio"] {
    background-image: url("/static/images/excitedFace.png");
    background-size: cover; }
  /* line 30, core/static/css/components/_smiley.scss */
  form#smileys input.happy[type="radio"] {
    background-image: url("/static/images/happyFace.png");
    background-size: cover; }
  /* line 35, core/static/css/components/_smiley.scss */
  form#smileys input.neutral[type="radio"] {
    background-image: url("/static/images/neutralFace.png");
    background-size: cover; }
  /* line 39, core/static/css/components/_smiley.scss */
  form#smileys input.sad[type="radio"] {
    background-image: url("/static/images/sadFace.png");
    background-size: cover; }
  /* line 43, core/static/css/components/_smiley.scss */
  form#smileys input.upset[type="radio"] {
    background-image: url("/static/images/upsetFace.png");
    background-size: cover; }

/** This section defines the various fonts and colors */
/**
 *  This section contains the various SCSS variables we are going to use.
 *  Note that this section will use the font and color variables we have defined
 *  in the previous section.
 */
/* line 9, core/static/css/components/_stepbar.scss */
#stepProgressBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 40vw;
  margin: 0  auto; }

/* line 17, core/static/css/components/_stepbar.scss */
.step {
  text-align: center; }

/* line 22, core/static/css/components/_stepbar.scss */
.bullet {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  color: #3A4958;
  background-color: white;
  display: inline-block;
  position: relative;
  transition: background-color 500ms;
  line-height: 30px; }

/* line 35, core/static/css/components/_stepbar.scss */
.bullet.completed {
  color: white;
  background-color: #ff8c5f; }

/* line 41, core/static/css/components/_stepbar.scss */
.bullet.completed::after {
  content: '';
  position: absolute;
  bottom: 11px;
  height: 5px;
  width: 9vw;
  background-color: #ff8c5f; }

/* line 50, core/static/css/components/_stepbar.scss */
.bullet.end::before {
  content: '';
  position: absolute;
  right: 2vw;
  bottom: 11px;
  width: 7.2vw;
  border-top: 5px dashed #ff8c5f; }

/* line 60, core/static/css/components/_stepbar.scss */
.text-center {
  text-align: center; }

/* Tutorial Layout-Related CSS */
/* line 12, core/static/css/pages/lesson.scss */
#page-content {
  height: calc(100vh - 160px);
  overflow: hidden; }
  /* line 6, core/static/css/components/_jumbotron.scss */
  #page-content .jumbotron {
    color: #fdfdfd !important;
    background-color: #4c6085 !important; }
  /* line 11, core/static/css/components/_jumbotron.scss */
  #page-content .btn-jumbotron {
    color: #d4c99e !important;
    border-color: #d4c99e !important; }
  /* line 16, core/static/css/components/_jumbotron.scss */
  #page-content .btn-jumbotron:hover {
    color: #fdfdfd !important;
    background-color: #d4c99e !important;
    border-color: #d4c99e !important; }

/* line 20, core/static/css/pages/lesson.scss */
#tutorialCol {
  height: calc(100vh - 160px); }

/* line 24, core/static/css/pages/lesson.scss */
#tutorialContent {
  overflow-x: hidden;
  overflow-y: auto; }
  /* line 28, core/static/css/pages/lesson.scss */
  #tutorialContent a {
    text-decoration: none; }
  /* line 32, core/static/css/pages/lesson.scss */
  #tutorialContent .inlineCode {
    font-family: "Courier New", Courier, monospace; }

/* line 37, core/static/css/pages/lesson.scss */
#editor {
  border-right: 10px solid #3a4958 !important; }

/* line 41, core/static/css/pages/lesson.scss */
.navbar-toggle {
  float: left !important;
  margin-left: 15px; }

/* line 46, core/static/css/pages/lesson.scss */
.modal-nav-content {
  width: 100%;
  height: auto; }

/* line 51, core/static/css/pages/lesson.scss */
.modal-nav-body {
  margin-top: 100px; }
  /* line 54, core/static/css/pages/lesson.scss */
  .modal-nav-body ul {
    width: 100%;
    color: #fff;
    list-style-type: none; }
  /* line 60, core/static/css/pages/lesson.scss */
  .modal-nav-body ul li {
    padding: 8px;
    font-size: 130%;
    text-align: center;
    text-transform: uppercase; }

/* line 68, core/static/css/pages/lesson.scss */
.btn-dark {
  background-color: #30343f; }

/* line 72, core/static/css/pages/lesson.scss */
.btn-dark:hover {
  background-color: #30343f;
  border: 1px solid #30343f; }

/* line 77, core/static/css/pages/lesson.scss */
#activity-cards {
  color: #fdfdfd !important;
  background-color: #4c6085 !important; }

/* line 82, core/static/css/pages/lesson.scss */
#progress-modal {
  background-color: rgba(48, 52, 63, 0.9); }

/* line 86, core/static/css/pages/lesson.scss */
#are-you-sure {
  color: #3a4958 !important; }

/* line 90, core/static/css/pages/lesson.scss */
#dont {
  color: #fff;
  background-color: #3a4958 !important; }

/* line 95, core/static/css/pages/lesson.scss */
#prev {
  margin: 2px 2px 2px 2px; }

/* line 99, core/static/css/pages/lesson.scss */
#next {
  margin: 2px 2px 2px 2px; }

/* line 103, core/static/css/pages/lesson.scss */
#results {
  margin: 5px 5px 5px 5px; }

/* line 107, core/static/css/pages/lesson.scss */
#resultCard {
  margin: 5px 5px 5px 5px; }

/* line 111, core/static/css/pages/lesson.scss */
#explainBox {
  display: block;
  width: 100%;
  resize: none; }

/* line 117, core/static/css/pages/lesson.scss */
#select {
  margin-left: 12px; }

/* line 121, core/static/css/pages/lesson.scss */
#radio {
  margin-left: 36px; }

/* line 126, core/static/css/pages/lesson.scss */
.page-section-heading {
  color: #222529;
  border-bottom: 5px solid #4c6085 !important; }

/* line 131, core/static/css/pages/lesson.scss */
.tool-back {
  background: #3a4958 !important; }
