// signin.scss
// This file extends _base to generate all the CSS required to render the sign-in page
@import "../base/_base";
@import "../components/_fade";
@import "../utils/_variables";
@import "../components/_jumbotron.scss";

/* Main Layout-Related CSS */
#page-content {
    min-height: calc(100vh - #{$page-header-min-height});
    color: $page-content-border-color-3;

    // Links
    a {
        text-decoration: none;
    }

    // Use the jumbotron mixin to generate the necessary CSS code
    @include generateJumbotron($page-content-text-color-light, $page-content-border-color-dark, $page-content-border-color-3);
}

#page-content {
    color: $page-content-border-color-3;
}

// Section Heading
    .page-section-heading {
        color: $gunmetal;
        border-bottom: 5px solid $purple;
    }

    .accordion {
        background-color: $lavender;
        color: $gunmetal;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

    .active, .accordion:hover {
        background-color: $purple;
        color: $white;
    }

    .text-box{
        border: 2px solid $gunmetal;
        border-radius: 4px;
    }
    .spButton:hover{
        background-color: $purple;
        color: $white;
    }

    .nButton:hover{
        background-color: $purple;
        color: $white;
    }

    .oButton:hover{
        background-color: $purple;
        color: $white;
    }

    .btn-filter {
        border: solid;
        border-width: 1px;
        border-color: $gunmetal;
        color: $gunmetal;
    }

    .date-row {
        border: solid;
        border-width: 1px;
        border-color: $gunmetal;
    }

#reviews {

padding-top: 10px;
text-align: center;

}
    