{% extends "core/base.html" %}
{% load static compress %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/pages/signin.scss' %}" media="screen">
    {% endcompress %}
{% endblock %}

{% block main_content %}

    <!-- {% if user.userinformation.role_name == 'admin' %}
        <div class="page-section-heading my-3" style="padding-left: 50px;">
            <h1> Applications </h1>
        </div>
        <div class="container">
            {% for app in applications %}

           <p> Driver: {{ app.driver }} Sponsor Company: {{app.sponsor_company}} Date: {{app.submission_time}} Status: {{app.apply_status}} Reason: {{app.reject_reason}} </p> 

            {% endfor %}

      {% endif %} -->


      <!-- Date Range Selector -->
        <div class = "container mt-5" >
            <form class="form" action="" method = "POST">
                {% csrf_token %} 
                <div class = "row" style = "justify-content: center;">
                    <input type="date" value={{start}} name = "start">
                    <input type="button" class = "btn btn-filter ml-1" value = "to" disabled></input>
                    <input type="date" value={{end}} name = "end" class = "ml-1">
                    <input type="submit" class = "btn btn-filter ml-1" value = "Filter"></input>
                </div>
            </form>
        </div>


                <div class="panel" style="display: block">
                        <div class="container">
                            <br>
                            <div class="card mt-3 mx-auto shadow-lg rounded text-center">
                                <table id="adminTable" class="table table-striped table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Driver</th>
                                            <th>Sponsor</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Reason</th>
                                            <th>Approving User</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for app in applications %}
                                        <tr>
                                            <td>{{app.driver | safe}}</td>
                                            <td>{{app.sponsor_company | safe}}</td>
                                            <td>{{ app.submission_time }}</td>
                                            <td>{{app.apply_status | safe}}</td>
                                            <td>{{app.reject_reason| safe}}</td>
                                            <td>{{app.sponsor| safe}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <br>
                        </div>
                </div>


{% endblock %}