{% extends "core/base.html" %}
{% load static compress crispy_forms_tags crispy_forms_filters %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/pages/profile.scss' %}" media="screen">
    {% endcompress %}
{% endblock %}

{% block body_js %}
{% endblock %}

{% block main_content %}
    {% if editing_user.id == driver_user.id %}
        <br>
        <h3 class='text-center mb-3'>  Editing Your Information </h3>
        <br>
        <div class="container">
            <div class="row gutters">
                <div class="card h-100">
                    <div class="card-body">
                        {% if role == 'driver'%}
                        <form action="{% url 'accounts:edit_user' role=driver_user.user.role_name value=driver_user.id%}" method="POST">
                        {% else %}
                        <form action="{% url 'accounts:edit_user' role=driver_user.role_name value=driver_user.id%}" method="POST">
                        {% endif %}
                        {% csrf_token %}
                            <div class="error text-warning">{{ error }}</div>
                            <br>
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h6 class="mb-2 text-primary">General Info</h6>
                                </div>
                                    <div class="form-group" hidden>
                                        {{ form.user_email|as_crispy_field }}
                                    </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        {{ form.first_name|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        {{ form.last_name|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        {{ form.license_number|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        {{ form.state|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        {{ form.phone_number|as_crispy_field }}
                                    </div>
                                </div>
                                {% if role == 'driver' %}
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group" hidden>
                                        {{ form.sponsor_company|as_crispy_field }}
                                    </div>
                                </div>
                                 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group" hidden>
                                        {{ form.all_companies|as_crispy_field }}
                                    </div>
                                </div>
                                {% endif %}
                                {% if role == 'sponsor'%}
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group" hidden>
                                        {{ form.sponsor_company|as_crispy_field }}
                                    </div>
                                </div>
                                {% endif %}
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="form-group">
                                        {{ form.address|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row gutters">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="text-right">
                                        <a class="btn btn-secondary" href="{% url 'accounts:profile'%}">Cancel</a>
                                        <button type="submit" class="btn btn-primary" aria-expanded="true">Update</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    

    
    {% else %}
        <br>
        {% if role != 'driver' %}
        <h3 class='text-center mb-3'>  Editing {{driver_user.first_name}} {{driver_user.last_name}}'s Information </h3>
        {% else %}
        <h3 class='text-center mb-3'>  Editing {{driver_user.user.first_name}} {{driver_user.user.last_name}}'s Information </h3>
        {% endif %}
        <br>
        <div class="container">
            <div class="row gutters">
                <div class="card h-100">
                    <div class="card-body">
                        {% if role == 'driver'%}
                        <form action="{% url 'accounts:edit_user' role=driver_user.user.role_name value=driver_user.id%}" method="POST">
                        {% else %}
                        <form action="{% url 'accounts:edit_user' role=driver_user.role_name value=driver_user.id%}" method="POST">
                        {% endif %}
                        {% csrf_token %}
                            <div class="error text-warning">{{ error }}</div>
                            <br>
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h6 class="mb-2 text-primary">General Info</h6>
                                </div>
                                    <div class="form-group" hidden>
                                        {{ form.user_email|as_crispy_field }}
                                    </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        {{ form.first_name|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        {{ form.last_name|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        {{ form.license_number|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        {{ form.state|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        {{ form.phone_number|as_crispy_field }}
                                    </div>
                                </div>
                                {% if role == 'driver' %}
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        {{ form.sponsor_company|as_crispy_field }}
                                    </div>
                                </div>
                                 <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        {{ form.all_companies|as_crispy_field }}
                                    </div>
                                </div>
                                {% endif %}
                                {% if role == 'sponsor'%}
                                    {% if editing_user.role_name == 'admin' %}
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            {{ form.sponsor_company|as_crispy_field }}
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group" hidden>
                                            {{ form.sponsor_company|as_crispy_field }}
                                        </div>
                                    </div>
                                    {% endif %}
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                </div>
                                {% endif %}
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="form-group">
                                        {{ form.address|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row gutters">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="text-left">
                                        <a class="btn btn-danger" href="{% url 'accounts:delete_user' value=driver_user.id%}">Delete User</a>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                    <div class="text-right">
                                        <a class="btn btn-secondary" href="{% url 'accounts:user_management'%}">Cancel</a>
                                        <button type="submit" class="btn btn-primary" aria-expanded="true">Update</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <style>
        body {
            margin: 0;
            color: #2e323c;
            background: #f5f6fa;
            position: relative;
            height: 100%;
        }
        .account-settings .user-profile {
            margin: 0 0 1rem 0;
            padding-bottom: 1rem;
            text-align: center;
        }
        .account-settings .user-profile .user-avatar {
            margin: 0 0 1rem 0;
        }
        .account-settings .user-profile .user-avatar img {
            width: 90px;
            height: 90px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            border-radius: 100px;
        }
        .account-settings .user-profile h5.user-name {
            margin: 0 0 0.5rem 0;
        }
        .account-settings .user-profile h6.user-email {
            margin: 0;
            font-size: 0.8rem;
            font-weight: 400;
            color: #9fa8b9;
        }
        .account-settings .about {
            margin: 2rem 0 0 0;
            text-align: center;
        }
        .account-settings .about h5 {
            margin: 0 0 15px 0;
            color: #007ae1;
        }
        .account-settings .about p {
            font-size: 0.825rem;
        }
        .form-control {
            border: 1px solid #cfd1d8;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            font-size: .825rem;
            background: #ffffff;
            color: #2e323c;
        }

        .card {
            background: #ffffff;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            border: 0;
            margin-bottom: 1rem;
        }
    </style>   
{% endblock %}