{% extends "core/base.html" %}
{% load static compress %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/pages/profile.scss' %}" media="screen">
    {% endcompress %}
{% endblock %}

{% block body_js %}
{% endblock %}

{% block main_content %}
    <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1>Edit profile</h1>
                    <a class="btn btn-lg btn-jumbotron">Submit</a>
                <div class="d-flex py-2">
                    
                </div>
            </div>
        </div>

        <div class="container profile-head">
            <div class="row">
                <div class="col-10">
                    <div class="profile-name">
                        <h3> {{ user.userinformation.first_name }} {{ user.userinformation.last_name }} </h3>
                        {% if user.userinformation.is_email_verified %}
                            <h6> {{ user.userinformation.sponsor_company }} {{ user.userinformation.role_name }}</h6>
                        {% else %}
                             <h6> Pending Approval...</h6>
                        {% endif %}

                        <h6>Last Login: {{ user.userinformation.last_login | date:"F j, Y" }}</h6><br>
                    </div>
                </div>
            </div>
        </div>


            <div class="container profile-info">

                <div class="row">
                    <div class="col-sm-6">
                        <label>Name</label>
                    </div>
                    <div class="col-sm-6">
                        <p>{{ user.userinformation.first_name }} {{ user.userinformation.last_name }}</p>
                    </div>
                </div>
               <div class="row">
                    <div class="col-sm-6">
                        <label>Email</label>
                    </div>
                    <div class="col-sm-6">
                        <p>{{ user.email }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Phone</label>
                    </div>
                    <div class="col-sm-6">
                        <div id="edit" contenteditable="true">
                        <p>{{user.userinformation.phone_number }}</p></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Address</label>
                    </div>
                    <div class="col-sm-6">
                        <div id="edit" contenteditable="true">
                        <p> {{ user.userinformation.address }} </p></div>
                    </div>
                </div>
            <div class="row">
                    <div class="col-sm-6">
                        <label>License Number</label>
                    </div>
                    <div class="col-sm-6">
                        <div id="edit" contenteditable="true">
                            <p> {{ user.userinformation.license_number }} </p></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>State</label>
                    </div>
                    <div class="col-sm-6">
                        <div id="edit" contenteditable="true">
                            <p> {{ user.userinformation.state }} </p></div>
                    </div>
                </div>


            </div>
{% endblock %}