<!-- This is where we tentatively will have them login-->
{% extends "core/base.html" %}
{% load static compress %}

{% block css %}
    {% compress css %}
    {% endcompress %}
{% endblock %}

{% block main_content %}
    Login Page
    <a href="{% url 'index' %}">Home Page link</a>
    <a href="{% url 'social:begin' 'google-oauth2' %}?next={% if request.GET.next %}{{ request.GET.next }}{% else %}{% url 'index' %}{% endif %}">
        <input type="image" src="{% static 'images/google.png' %}" width="240"
               height="55" alt="Sign in with Google"/>
    </a>
{% endblock %}