{% extends "core/base.html" %}
{% load static compress %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/pages/profile.scss' %}" media="screen">
    {% endcompress %}
{% endblock %}

{% block body_js %}
{% endblock %}

{% block main_content %}
    <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1>Profile</h1>
                <div class="d-flex py-2">
                    <a class="btn btn-lg btn-jumbotron"
                       role="button"
                       aria-pressed="true">Edit Profile</a>
                       <a id=disable href="{% url 'accounts:disable_account' %}">Deactivate Account</a>
                </div>
            </div>
        </div>

        <div class="container profile-head">
            <div class="row">
                <div class="col-10">
                    <div class="profile-name">
                        <h3>First Last</h3>
                        <h6>Trucking Company</h6>
                        <h6>Driver</h6>
                    </div>
                </div>
            </div>
        </div>


            <div class="container profile-info">
                <div class="row">
                    <div class="col-sm-6">
                        <label>User ID</label>
                    </div>
                    <div class="col-sm-6">
                        <p>Flast</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <label>Name</label>
                    </div>
                    <div class="col-sm-6">
                        <p>First Last</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Email</label>
                    </div>
                    <div class="col-sm-6">
                        <p>flast@email.com</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Phone</label>
                    </div>
                    <div class="col-sm-6">
                        <p>123-456-7890</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Address</label>
                    </div>
                    <div class="col-sm-6">
                        <p>123 Main St, Town</p>
                    </div>
                </div>


            </div>
{% endblock %}