{% extends "core/base.html" %}
{% load static compress %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/pages/signin.scss' %}" media="screen">
    {% endcompress %}
{% endblock %}

{% block main_content %}
    <div class="container">
        {% for obj in open_apps %}
            <div class="card w-50 mt-3 mx-auto shadow-lg rounded text-center">
                <div class="card-body">
                    <p> {{ obj.first_name | safe }}{{ obj.last_name | safe }} </p>
                    <p> {{ obj.phone_number | safe }} </p>
                    <p> {{ obj.user.email | safe }} </p>
                    <form action="{% url 'accounts:review_apps' %}" method="POST">
                        {% csrf_token %}
                        <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <input type="hidden" name="user" value="{{ obj.user.email }}"/>
                                <input class="btn btn-danger" type="submit" name="reject" value="Reject" />
                                <input class="btn btn-success" type="submit" name="approve" value="Approve" />
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}