{% extends "core/base.html" %}
{% load static compress %}

{% block css %}
    {% compress css %}
    {% endcompress %}
{% endblock %}

{% block body_js %}
    <script src="js/jquery.min.js"></script>
    <script src="js/parallax.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
{% endblock %}

{% block main_content %}
    <!--- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Hello, {{ user.username }}</h1>
        </div>
    </div>
{% endblock %}