{% extends "core/base.html" %}
{% load static compress %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/pages/signin.scss' %}" media="screen">
    {% endcompress %}
{% endblock %}

{% block main_content %}


<div class="row">
    <div class="container col-2">
        <div class ="card m-2">
                <div class="card-body">
                <h5 class="card-title font-weight-bold">Sort By:</h5>
                <button class="last_mod- m-2">Most Recent</button>
                <button class="last_mod m-2">Least Recent</button> 

            </div>
        </div>
    </div>
    <div class="container col-10">
        <div class="row" id="item"></div>
    </div>

</div>
{% load static %}
<script src="{% static 'catalog/items.js' %}"></script>

{% endblock %}
