{% extends "core/base.html" %}
{% load static compress %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/pages/catalog.scss' %}" media="screen">
    {% endcompress %}
{% endblock %}

{% block main_content %}

<div class="row">
    <div class="container mt-5 mb-3">
        <h2 style="text-align:center">Manage Catalog</h2>
        <p style="text-align:center"> Catalog Last Updated: {{last_update|date:'F j, Y g:i A'}} </p>

    </div>
</div>
<div class="row">
    <div class="container col-2">
        <div class ="card ml-2 mt-2">
                <div class="card-body">
                <h5 class="card-title font-weight-bold">Sort By:</h5>
                <button class="btn last_mod- my-1">Most Recent</button>
                <button class="btn last_mod my-1">Least Recent</button>
                <button class="btn price- my-1">Most Expensive</button> 
                <button class="btn price my-1">Least Expensive</button> 
            </div>
        </div>
    </div>
    <div class="container col-10">
        <div class="row" id="item"></div>
    </div>

</div>
{% load static %}
<script src="{% static 'catalog/items.js' %}"></script>

{% endblock %}

