{% extends "core/base.html" %}
{% load static compress %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/pages/catalog.scss' %}" media="screen">
    {% endcompress %}
{% endblock %}

{% block main_content %}


<!--
<div class="jumbotron jumbotron-fluid">

    <div class="container-fluid">
        <h2 style="text-align:center">Manage Catalog</h2>
        <p style="text-align:center"> Catalog Last Updated: {{last_update|date:'F j, Y g:i A'}} </p>
    </div>

    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
        <a class="nav-link" href="#">Browse Products From Etsy</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Browse Products Other Sponsor Use</a>
        </li>
    </ul>

</div>
-->

<div class = "container-fluid">
    
<div class="row">
    <div class="container-fluid m-5 mu-3">
        <h2 style="text-align:center">Manage Catalog</h2>
        <p style="text-align:center"> Catalog Last Updated: {{last_update|date:'F j, Y g:i A'}} </p>
    </div>
</div>

<div class="row mu-3 mb-3">
    <div class="container-fluid col-2">
    </div>
    <div class="container-fluid col-10 input-group">
        <input type="search" id="searchbar" placeholder="Search" value="" class=""></input>
        <button type="button" id="search" class="btn btn-primary">
        <i class="fas fa-search"></i>
        </button>
    </div>
</div>


<div class="row">
    <div class="container-fluid col-2">
        <div class ="card ml-2 mt-2">
                <div class="card-body">
                <h5 class="card-title font-weight-bold">Sort By:</h5>
                <button class="btn last_mod- my-1">Most Recent</button>
                <button class="btn last_mod my-1">Least Recent</button>
                <button class="btn price- my-1">Most Expensive</button> 
                <button class="btn price my-1">Least Expensive</button> 
            </div>
        </div>
    </div>
    <div class="container-fluid col-10">
        <div class="row" id="item"></div>
    </div>
</div>

</div>
{% load static %}
<script src="{% static 'catalog/items.js' %}"></script>

{% endblock %}

