{% extends "core/base.html" %}
{% load static compress %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/pages/catalog.scss' %}" media="screen">
    {% endcompress %}
{% endblock %}

{% block main_content %}


<div class="row">
    <div class="container col-2">
        <div class ="card ml-2 mt-2">
                <div class="card-body">
                <h5 class="card-title font-weight-bold">Sort By:</h5>
                <button class="btn date_added- m-2">Most Recent</button>
                <button class="btn date_added m-2">Least Recent</button> 
                <button class="btn points- m-2">Most Expensive</button>
                <button class="btn points m-2">Least Expensive</button>
            </div>
        </div>
        <br>
        <a class="btn btn-lg btn-jumbotron" href="{% url 'catalog:shop' %}">Sponsor View <i class="fas fa-glasses"></i></a>
    </div>
    <div class="container col-10">
        <div class="row" id="item"></div>
    </div>

</div>
{% load static %}
<script src="{% static 'catalog/sponsor_items.js' %}"></script>

{% endblock %}