{% extends "core/base.html" %}
{% load static compress %}

{% block css %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/pages/signin.scss' %}" media="screen">
    {% endcompress %}
{% endblock %}

{% block main_content %}
    <br>
    {% for listing, sponsor, image in listings %}
        {% if forloop.first %}
            <div class="row">  
        {% endif %}
         
        <div class="col-sm-4">
            <img src = "{{ image.image_link }}", alt = "image not available">
            <div>{{ listing.item_name|slice:":35" }}...</div>
            <div>price: ${{ listing.retail_price | floatformat:2 }}</div>
            <div>points: {{ sponsor.point_value }}</div>
            <div>Listing ID: {{ listing.api_item_Id }}</div>
        </div> 
    
        {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
        {% endif %}

        {% if forloop.last %}
            </div>
        {% endif %}

    {% endfor %}

{% endblock %}